@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s linear;
}

body,
html{
  overflow-x: hidden;
  background-color:#010c14 
}

#nav-toggler{
   -webkit-appearance: none;  
   position: fixed; 
  top:20px; right:30px;
  cursor: pointer;
  z-index: 1010; 
  font-size: 3rem;
  color: #f81e42;
}

#nav-toggler:checked{
  transform: rotate(180deg);
}

#nav-toggler:checked::before{
  content: '\f00d';
  color:#fff;
  transition: .2s linear .2s;
}

#nav-toggler:checked ~ .navbar{
  left:0;
}

.navbar{
  background-color: #010c14;
  position: fixed;
  top:15%; left:-110%;
  height: 100%;
  width: 100%;
  z-index: 1000;
  /* display: flex; */
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding:0 10%;
}
#nav {
  font-size: 9vmin;
  pointer-events: auto
}

#nav ul {
  top: 16.6%
}
 #nav li {
  margin-bottom: .2em;
  color: #fff;
  overflow: hidden;
  position: relative
} 

#nav a {
  font-family: 'Oswald', sans-serif;
  display: block;
  color: white;
  position: relative;
  overflow: visible;
  line-height: 1;
  position: relative;
  z-index: 10;
  transition: none;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 56px;
  padding-top: 12px;
  margin-left: 10px;
}


  #nav a+span { 
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
  transform: translateX(-105%);
  height: 100px;
  width: 400%;
  background: #f81e42; 
  background: -webkit-linear-gradient(to left,#61005c, #ff00cc, #f81e42);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,#61005c, #ff00cc, #f81e42); /*61005c , #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;
}

  #nav a:hover+span, 
#nav a:focus+span {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
 } 
 @media (max-width:768px){
  .navbar a{
    font-size: 4em;
  }
}

@media (max-width:430px){
  .navbar a{
    font-size: 2em;
    left: -20%;
  }
}

.right{
  flex: 1;   
  padding: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: margin-left .5s; 
  overflow-x: hidden; 
}

.home{

position: relative;
margin-left: 5vh;
height: 35%;
color: #fff;
font-family: 'Anton';
font-size: 11vh;
top: 16vh;
left: 22vh;
}
.one{
font-size: 17vh;
}
#jay{
color: #f81e42;
}
 @media screen and (max-width: 430px) {
.home{
font-size: 2vh;
margin-left: 2vh;
left: 5%;
}
.one{
  font-size: 6vh;
}
}  
@media screen and (max-width: 810px) {
  .home{
    font-size: 6vh;
    margin-left: 2vh;
    left: 2%;
    top: 25vh;
  }
  .one{
    font-size: 9vh;
  }
}
