@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 
body{
      display: flex;
      background-color:#010c14   
}

/*Navbar css*/
.sidebar{ 
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#010c14 ;
    overflow-y: hidden; 
    overflow-x: hidden;
    transition: 0.5s;
    transition-delay: 0.5s; 
}

#nav {
  font-size: 9vmin;
  pointer-events: auto
}

#nav ul {
  top: 16.6%
}

/* nav {
  font-family: inconsolata, monospace
} */

html nav ul {
  position: absolute;
  width: 75%;
  left: 12.5%
}

#nav li {
  margin-bottom: .2em;
  color: #fff;
  overflow: hidden;
  position: relative
}

#nav a {
  font-family: 'Oswald', sans-serif;
  display: block;
  color: white;
  position: relative;
  overflow: visible;
  line-height: 1;
  position: relative;
  z-index: 10;
  transition: none;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 56px;
  padding-top: 12px;
  margin-left: 10px;
}


  nav a+span { 
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
  transform: translateX(-105%);
  height: 100px;
  width: 400%;
  background: #f81e42; 
  background: -webkit-linear-gradient(to left,#61005c, #ff00cc, #f81e42);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,#61005c, #ff00cc, #f81e42); /*61005c , #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;
}

  nav a:hover+span, 
nav a:focus+span {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
 }  
                              /* navbar css end */
                              /* button css start */

button:not(:focus), button:hover {
  outline: none;
  border: none;
}
#mybutton {
  cursor:pointer;
 pointer-events:auto;
 position:relative;
 display:block;
 z-index:999999;
 -webkit-transform-origin:center center;
 -moz-transform-origin:center center;
 transform-origin:center center;
 top:6vh;
 background:none;
}
#mybutton{
  right: -5.3%;
  z-index: 999;
  height: 5vh;
  width: 7vh;
}
html #mybutton span {
  width: 100%;
  height: 2px;
  display: block;
}
#mybutton .one, #mybutton .two, #mybutton .three {
  position: absolute;
  left: 0;
}
#mybutton .one {
  top: 0;
}
#mybutton .two {
  top: 50%;
  margin-top: -1px;
}
#mybutton .three {
  bottom: 0
}

span{
  vertical-align: baseline;
  background: 0 0;
}
#mybutton span {
  background-color: #e2b8aa;
  transition: all .2s linear
}
@media screen and (max-width:430px) {
  #mybutton {
    height: 3vh;
    width: 5vh;
  }
}
  

.right{
      flex: 1;   
      padding: none;
      height: 100vh;
      justify-content: center;
      align-items: center;
      transition: margin-left .5s; 
      overflow-x: hidden; 
}

.home{
 
   position: relative;
   margin-left: 5vh;
   height: 35%;
   color: #fff;
   font-family: 'Anton';
   font-size: 11vh;
   top: 16vh;
   left: 22vh;
}
.one{
  font-size: 17vh;
}
#jay{
   color: #f81e42;
}
@media screen and (max-width: 430px) {
  .home{
    font-size: 5vh;
  }
} 

.quote{
  background-image: url('/svg/circle-scatter-haikei.svg');
  display:flex;
  color:white;
  align-items: center;
  margin: 100px;
  margin-left: 150px;
  padding:30px;
  font-size: 20px;
  position: relative;
  margin-top: 80px;
  margin-bottom:200px;
  width: 100%;
  top : 200px;
  height: 524px;
 }
 .shape1,
 .shape2 {
   stroke-dasharray: 2200px;
   stroke-width: 5px;
   fill: transparent;
   stroke: #f81e42;
   border-bottom: 5px solid black;
   transition-timing-function: linear;
   transition: stroke-dashoffset 4s, stroke-dasharray 4s;
 }
 .shape1 {
   stroke-dashoffset: 2200;
 }
 .shape2 {
   stroke-dashoffset: -2200;
 }
 .text{
   font-family: 'League Gothic', sans-serif;
   font-size: 50px;
   line-height: 32px;
   font-weight: 300;
   letter-spacing: none;
   color: #fff;
   top: -70px;
   left: 175px;
   position: relative;
   
 }
.about{
  display: flex;
  flex-direction: column;
  background-color: #f81e42;
  position: relative;
  height:45vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Anton';
}
#about{
  top: -15vh;
  position: relative;
  font-size: 6vh;
} 

.spacer {
  aspect-ratio: 960/347;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer2 {
  background-image: url('/svg/waves\ \(900\ ×\ 400\ px\)\ \(960\ ×\ 350\ px\).svg');
}

.flip {
  transform: rotate(180deg);
}
/* @media screen for about */

.skills{
  position: relative;
   
}


footer{
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: #333399;
  top: 0vh;
}